#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #161616;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

#particles-js {
    background-color: #161616;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

#particles-js canvas {
    display: block;
    vertical-align: bottom;
}

#overlay {
    position: relative;
    padding: 50px;
}

body {
    font: 20px 'Open Sans', sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

p {
    font-size: 19px;

}

.margin {
    margin-bottom: 45px;
    font-weight: bold;
}

h1 {
    font-size: 40;
}

h2 {
    font-size: 35;

}

h3 {
    font-size: 35;
}

h5 {
    font-size: 19px;
}

.bg-1 {
    background-color: rgba(0, 0, 0, 0);
    /* Grey */
    color: rgba(206, 206, 206, 0.89);
    padding-top: 0px;
    padding-bottom: 100px;
    font: 20px 'Oswald', sans-serif;

}

.bg-1 h1 {
    font-size: 40;
}

.bg-1 h2 {
    font-size: 35;
}


.bg-2 {
    background-color: #2f2f2f;
    /* Dark Blue */
    color: #d1d1d1;
}

.bg-3 {
    background-color: #ffffff;
    /* White */
    color: #555555;
}

.bg-4 {
    background-color: #ebebeb;
    /* Black Gray */
    color: #272727;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
    position: relative;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 5px;
    background-color: #161616;
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    color: #a0a0a0;
    font: 16px 'Oswald', sans-serif;
}

.navbar-nav li a:hover {
    color: #e6e6e6 !important;
}

.bold {
    font-weight: bold;
    color: #a0a0a0;
}

.caption {
    font-size: 16px;
    text-align: center;
    color: #272727;
}

#calendar {
    max-width: 900px;
    margin: 0 auto;
}

.cal-container {
    background-color: #ffffff;
    /* White */
    border-radius: 20px;
    padding-bottom: 70px;
    padding-top: 35px;
    color: #555555;
}

.announcement-container {
    background-color: #ebebeb;
    /* Black Gray */
    color: #272727;
    border-radius: 20px;
    padding-bottom: 70px;
    padding-top: 35px;

}

.email {
    font-size: 16px;
    text-decoration: underline;
}

footer h6 {
    font-size: 16px;
    color: #acacac;
}

.footer-link {
    padding: 0px;
    color: #acacac;
    font-size: 16px;
    text-decoration: underline;
}

.footer-link:hover {
    color: #d1d1d1;
}

center footer h2 {
    font-size: 24px;
    padding-bottom: 10px;
    font-weight: bold;
}

.event-text {
    align-content: center;
    text-align: center;
    padding-bottom: 30px;
}

.event-text-title {
    align-content: center;
    text-align: center;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 22px;
}

.nopad {
    padding: 0px;
}
